language: node_js
node_js:
  - "10"
script: npm run build
deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: 'philagov-vue-apps'
    upload-dir: 'find-a-licensed-contractor/production'
    on:
      branch: master
    local_dir: dist
    skip_cleanup: true
  
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY_ID
    secret_access_key: $AWS_SECRET_ACCESS_KEY
    bucket: 'philagov-vue-apps'
    upload-dir: 'find-a-licensed-contractor/staging'
    on:
      branch: staging
    local_dir: dist
    skip_cleanup: true