#application
.site-header 
.logo {
    max-width: 250px;
}
#application
.site-header  .logo img {
    max-width: 250px;
}


 .site-header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    max-height: 72px;
} 

.app-nav {
    position: sticky;
    top: 72px;
    position: -webkit-sticky;
    z-index: 100;

}

@media (max-width:850px) {

    
    #application
    .site-header
    .logo {
        max-width: 175px;
    }

    #application
    .site-header
    .logo 
    img {
        max-width: 175px ;
    }
    
    #application .app-footerr.anchor {
        position: relative;
    }
}

@media (max-width:760px) {

    .app-nav {
        position: relative;
        top: 0px;
        z-index: 100;
    
    }

    .site-header {
        position: relative;
        top: 0px;
        z-index: 100;
        max-height: 300px;
    }
    
    #application
    .site-header
    .logo {
        max-width: 200px;
    }

    #application
    .site-header
    .logo 
    img {
        max-width: 200px ;
    }
    
}